.root 
{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
    -fx-base: #eef;
    -fx-background: #111;
    -fx-color: #222;
}

.array-index 
{
 	-fx-min-width: 25px;
	-fx-background-color: #444;
}

.array-index.odd
{
	-fx-background-color: #222;
}

.rm-button
{
	-fx-color: #f00;
}

.add-button
{
	-fx-color: #0f0;	
}

.point-button
{

}

.struct-header {
	-fx-background-color: #334;
	-fx-color: #999;
	-fx-min-height: 20 px;
}

.int32-field
{
       -fx-max-width: 120px;
}
.error
{
       -fx-background-color: #f44;
}

.inline-value
{
	-fx-max-width: 65px;
}

.inline-label
{
	-fx-alignment: center;
	-fx-min-width: 25px;
	-fx-min-height: 20px;
}